body{
    background:linear-gradient(141deg, #4c31f5 0%,#b68be5  75%);
    background-attachment: fixed;
    /* text-align: center; */
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
}
.layout{
    /* margin-top: 5%; */
    margin-top: 70px;
    margin-bottom: 6%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content:center;
}
.layout2{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content:center;
}
.mySlides{
    /* width:60%; */
    width: 700px;
    box-shadow: 0px 5px 20px 2px rgba(0,0,0,0.2);
}
.recommend{
    width:100%;
    /* display: flex;
    flex-flow: row;
    justify-content: space-between; */
}
.recommend > p{
    color: white;
    font-size: 20px;
    margin-bottom: 5px;
}
.upload{
    width:100%;
    margin:10px;
}
.upload > p{
    color: white;
    font-size: 30px;
    text-align: center;
}

.uploadbox{
    width: 650px;
    height: 450px;
    background-color: white ;
    border-radius: 10px;
    box-shadow: 0px 5px 20px 2px rgba(0,0,0,0.2);
}

hr{
    width: 100%;
    border-style: solid;
    border-color: white;
}
.AD{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon{
    width: auto;
    height: 50%;
    padding-right: 5px;
}
.nav-left{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    color: white;
}
.sidenav{
    text-align: center;
}
.detail{
    text-align: center;
    color: white;
}
.detail:hover{
    text-align: center;
    color: white;
    cursor: pointer;
}
.reclist{
    background-color: white;
    width: 150px;
    height: 150px;
    margin: 10px;

}
.layoutreclist{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    /* height: 50%; */
    /* width: 60%; */
    width: 100%;
    margin-top: 20px;
}
.menu{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    /* height: 50%; */
    width: 700px;
    color: white;
    margin-bottom: 10px;
}
.btnADlayout{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
.btnAD{
    margin: 15px 5px 5px;
    height: 12px;
    border-radius: 100px;
    border-width: 0px;
    outline: none;
}
.btnADCurrent{
    margin: 15px 5px 5px;
    height: 12px;
    border-radius: 100px;
    border-width: 0px;
    outline: none;
    background-color: rgb(231, 131, 251);
}
.search{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    width: 30%;
    flex-grow: 2;
}
.nav-right{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    color: white;
    cursor: pointer;
}
.nav{
    display: flex;
    flex-flow: row;
    /* padding-top: 1%; */
    padding-bottom: 0.2%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 5%; */
    height: 50px;
    /* background-color: aqua; */
    background:linear-gradient(141deg, #4c31f5 2%,#b68be5  115%);
    box-shadow: 0px 5px 20px 2px rgba(0,0,0,0.2);
}
#home{
    text-decoration: none;
}
input{
    border-width: 0px;
    border-radius: 30px;
    width: 50%;
    height: 70%;
    padding-top: 3px;
    padding-left: 10px;
    font-family: 'Fira Sans', sans-serif;
}
.nav-right > a{
    padding-left: 10px;
    color: white;
    text-decoration: none;
}
.player{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.player2{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}
.song{
    font-family: 'Prompt', sans-serif;
}
span{
    font-family: 'Prompt', sans-serif;
}
.playListBlock {
  cursor: pointer;
  user-select: none;
}
/* bac{
    background-color: rgba(158, 158, 158, 0.5)
} */

/* player */
#wrapper{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 8%;
    background-color: white;
    /* width: 640px; */
    /* margin: 10px auto; */
     /* display: flex;
    flex-flow: column; */
    display: none;
}
nav{
    background-color: white;
    width: 100%;
    /* padding-bottom: 3px; */
}
#defaulBar{
    width: 100%;
    position: fixed;
    bottom: 0;
    /* background-color:rgb(240, 13, 13); */
    height: 5px;
}
#progressBar{
    /* position: absolute; */
    height: 100%;
    background:linear-gradient(141deg, rgb(95, 245, 65) 0%, rgb(0, 212, 153) 75%);
    width: 0px;
    border-radius: 0px 100px 100px 0px;
}
#volumeBar{
    width: 10%;
    height: 5px;
    background-color: rgba(158, 158, 158, 0.5);
    border-radius: 30px;
    margin-right: 2%;
}
#progressvolumeBar{
    /* position: absolute; */
    height: 5px;
    background-color: #b68be5;
    width: 0px;
    border-radius: 30px;
}
#prevbtn{
    background-color: white;
    border: none;
    height: 90%;
    width: 4%;
    background-image: url("img/player/back.png");
    background-size: 40% auto;
    background-repeat: no-repeat;
    background-position: center;
}
#playbtn{
    background-color: white;
    border: none;
    height: 90%;
    width: 4%;
    background-image: url("img/player/play-button.png");
    background-size: 40% auto;
    background-repeat: no-repeat;
    background-position: center;
}
#pausebtn{
    background-color: white;
    border: none;
    height: 90%;
    width: 4%;
    background-image: url("img/player/pause.png");
    background-size: 40% auto;
    background-repeat: no-repeat;
    background-position: center;
}
#nextbtn{
    background-color: white;
    border: none;
    height: 90%;
    width: 4%;
    background-image: url("img/player/next.png");
    background-size: 40% auto;
    background-repeat: no-repeat;
    background-position: center;
}
#stopbtn{
    background-color: white;
    border: none;
    height: 90%;
    width: 4%;
    background-image: url("img/player/stop.png");
    background-size: 40% auto;
    background-repeat: no-repeat;
    background-position: center;
}
#mutebtn{
   background-color:white;
   border: none;
   height: 90%;
   width: 5%;
   background-image: url("img/player/speaker.png");
   background-size: 40% auto;
   background-repeat: no-repeat;
   background-position: center;
}
#unmutebtn{
    background-color:white;
    border: none;
    height: 90%;
    width: 5%;
    background-image: url("img/player/speaker(1).png");
    background-size: 40% auto;
    background-repeat: no-repeat;
    background-position: center;
 }
#playlistbtn{
    background-color: white;
    border: none;
    height: 80%;
    width: 60px;
    background-image: url("img/player/playlist.png");
    background-size: 40% auto;
    background-repeat: no-repeat;
    background-position: center;
}
#buttons{
    width: 100%;
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-start;
}
.album{
    width: 4%;
    height: auto;
    padding: 2px;
}
#defaulBar:hover{
    height: 15px;
}
#prevbtn:hover{
    background-image: url("img/player/back2.png");
}

#playbtn:hover{
    background-image: url("img/player/play-button2.png") !important;
}
#pausebtn:hover {
    background-image: url("img/player/pause2.png") !important;
}
#nextbtn:hover{
    background-image: url("img/player/next2.png");
}
#stopbtn:hover{
    background-image: url("img/player/stop2.png");
}
#mutebtn:hover{
    background-image: url("img/player/speaker2.png");
}
#unmutebtn:hover{
    background-image: url("img/player/speaker (1)-2.png");
}
#playlistbtn:hover{
    background-image: url("img/player/playlist2.png");
}



#buttons>button{
    margin-left: 15px;
}
#buttons>div{
    margin-left: 15px;
}

#prevbtn,#playbtn,#pausebtn,#nextbtn,#stopbtn,#mutebtn,#unmutebtn,#playlistbtn,.flo,input:focus{
    outline: none !important;
}

/* login */
/* Full-width input fields */
input[name="uname"], input[name="psw"],input[name="email"],input[name="Confirmemail"], input[name="birthdate"] {
    width: 100%;
    height: 30px;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(209, 209, 209);
    /* box-shadow: 0px 5px 20px 2px rgba(0,0,0,0.2);     */
    box-sizing: border-box;
}
.flo{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    color: white;
    font-family: 'Fira Sans', sans-serif;
    font-size: 17px;
}

/* Set a style for all buttons */
.loginbtn {
    background-color: #b68be5;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    border-radius: 30px;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 30px;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 20%;
    padding-top: 20px;
    /* border-radius: 50%; */
}

.container {
    padding: 16px;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
}
.container2 {
    padding: 16px;
    border-radius: 0px 0px 10px 10px;
    text-align: center;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    /* border: 1px solid #888; */
    border-radius: 10px;
    width: 20%; /* Could be more or less, depending on screen size */
    text-align: center;
    box-shadow: 0px 5px 20px 2px rgba(0,0,0,0.2);
}
.modal-content2 {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    /* border: 1px solid #888; */
    border-radius: 10px;
    width: 20%; /* Could be more or less, depending on screen size */
    /* text-align: center; */
    box-shadow: 0px 5px 20px 2px rgba(0,0,0,0.2);
}


/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(179, 179, 179);
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}


#prevbtn1{
    background-color:Transparent;
    border: none;
    height: 2%;
    width: 10%;
    margin-left: 6%;
    align-items: center;
    background-image: url("img/plus.png");
    background-size: 15px ;
    background-repeat: no-repeat;
    background-position: center;
}
